img {
    width: 700px;
}

h1 {
    background-color: gold;
}
.whatever {
    color: blue;
}

#Work {
    color: green;
}
#W {
    color: goldenrod
    ;
}
#o {
    color:crimson
}
#r {
    color: orange;
}
#k {
    color: aliceblue;
}